@charset "UTF-8";
/*----- リセット追加 -----*/
a {
  text-decoration: none;
  display: block;
}

/*----- 共通部分 -----*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #239b76;
}

.btn2 {
  padding: 8px 12px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #239b76;
}

.btn:hover {
  opacity: 1;
}

/*----- ヘッダー部分 -----*/
.header {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.header__logo {
  height: 70px;
  width: 290px;
}

.section-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  padding: 50px;
  background-color: #F8FAFC;
}

.commonInner {
  width: 1450px;
  margin: 0 auto;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.content-item {
  border-radius: 20px;
  position: relative;
}

.field {
  position: relative;
  height: 340px;
  width: 470px;
  border-radius: 20px;
}

.profile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profile-item {
  margin-top: 30px;
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.profile-intro {
  box-sizing: border-box;
  margin-top: 30px;
  height: 170px;
  width: 100%;
  border: solid 1px #c2c2c2;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  outline: 0;
  font-size: 16px;
}


.schedule {
  position: absolute;
  left: 5%;
  font-size: 20px;
}

.diamond {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.position {
  height: 45px;
  width: 25px;
  display: none;
}

.check {
  height: 45px;
  width: 25px;
}

.active {
  display: block;
}

.P {
  position: absolute;
  bottom: 140px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}

.C {
  position: absolute;
  bottom: 50px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}

.FB {
  position: absolute;
  bottom: 180px;
  right: 23%;
  z-index: 1;
}

.SB {
  position: absolute;
  bottom: 220px;
  right: 37%;
  z-index: 1;
}

.TB {
  position: absolute;
  bottom: 180px;
  left: 23%;
  z-index: 1;
}

.SS {
  position: absolute;
  bottom: 220px;
  left: 36%;
  z-index: 1;
}

.LF {
  position: absolute;
  top: 45px;
  right: 17%;
  z-index: 1;
}

.CF {
  position: absolute;
  top: 15px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}

.RF {
  position: absolute;
  top: 48px;
  left: 16%;
  z-index: 1;
}


#input{
  margin-top: 30px;
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
  padding-bottom: 8px;
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

.text_underline{
  position: relative; /*.text_underline::beforeの親要素*/
  border-top: 1px solid #c2c2c2; /*text3の下線*/
}

/*共通のstyle*/
.text_underline::before,
.text_underline::after{
  position: absolute; 
  bottom: 0px; /*中央配置*/
  width: 0px; /*アニメーションで0pxから50%に*/
  height: 1px; /*高さ*/
  content: '';
  background-color: #3be5ae; /*アニメーションの色*/
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}


.textarea{
  box-sizing: border-box;
  margin-top: 30px;
  width: 100%;
  border: solid 1px #c2c2c2;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  outline: 0;
  font-size: 16px;
}