@charset "UTF-8";
/*----- 共通部分 -----*/
.section-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  padding: 1.5rem;
  background-color: #F8FAFC;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* ボタン関連 */
.btn-wrapper {
  margin: 20px 0;
}

.btn {
  color: #808080;
  text-align: center;
  border: 1px solid #808080;
  padding: 8px 12px;
  border-radius: 20px;
  line-height: 1.0;
  margin-right: 20px;
}

.small-btn-wrapper {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:125px;
  padding: 10px;
}

.small-btn {
  text-align: center;
  font-size: 0.875rem;
  padding: 4px 8px;
  border-radius: 20px;
  line-height: 1.0;
  margin-left: 8px;
}

.delete-btn {
  background-color: #DD0000;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.detail-btn {
  background-color: #239b76;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.header_btn {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  padding: 8px 12px;
  border-radius: 20px;
  line-height: 1.0;
  margin-right: 20px;
}

/*----- ヘッダー部分 -----*/
.header {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(35, 35, 35, 0.9);
  z-index: 1;
}

.header-logo {
  height: 70px;
  width: 290px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.header-nav__item {
  text-decoration: none;
  color: #999;
  display: inline-block;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-left: 30px;
}

.header-nav__item:hover{
  transition: color 0.1s linear;
  color: #fff;
  text-decoration:none;
}

.login-status {
  color: #FFFFAA;
  text-align: center;
  margin-top: 15px;
  margin-right: 20px;
}

.commonInner {
  width: 1450px;
  margin: 0 auto;
}

.content-wrapper {
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin-top: 80px;
}

.content-item {
  position: relative;
  max-height: 340px;
  max-width: 685px;
}

.caution {
  color:red; 
  margin:20px 0 0 40px
}

/* スケジュール部分 */
.schedule-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.text_underline{
  position: relative; /*.text_underline::beforeの親要素*/
  border-top: 1px solid #c2c2c2; /*text3の下線*/
}

/* ______________________________________________________________________________________  対戦相手・助っ人募集部分 */
.recruit-nav {
  line-height: 2.5rem;
  color: #65B2F7;
  padding: 0 40px;
}

.recruit-item {
  line-height: 1.0;
}

.recruit-note {
  margin: 5px auto 0;
  height: 150px;
  line-height: 1.4;
  width: 90%;
  box-sizing: border-box;
  border: solid 1px #c2c2c2;
  border-radius: 5px;
  padding: 10px;
  display: block;
  background-color: #fff;
  white-space: pre-wrap;
}


/* ______________________________________________________________________________________  プロフィール部分 */
.profile-wrapper {
  height: 100%;
  display: grid;
  grid-template: 
    "..... ............. ............. ............... ....." auto
    "..... profile-name  ............. profile-btn     ....." 50px
    "..... profile-name  ............. profile-address ....." 30px
    "..... ............. ............. ............... ....." 30px
    "..... profile-intro profile-intro profile-intro   ....." 200px
    "..... ............. ............. ............... ....." auto/
     0     2fr           30px          1fr             0;
}

.profile-name {
  grid-area: profile-name;
  font-size: 2rem;
  line-height: 1.0;
  color: #808080;
  border-bottom: solid 1px #c2c2c2;
  display: flex;
  align-items: center;
  height:50px;
  margin-top:30px;
}

.profile-btn {
  grid-area: profile-btn;
  color: #808080;
  margin-bottom: auto;
}

.profile-address {
  grid-area: profile-address;
  font-size: 1rem;
  line-height: 1.0;
  color: #808080;
  border-bottom: solid 1px #c2c2c2;
  display: flex;
  align-items: flex-end;
}

.profile-intro {
  grid-area: profile-intro;
  background-color: #fff;
}

.profile-intro-label {
  background-color: #fff;
  line-height: 1.4;
  height: 10%;
  font-weight: bold;
}

.profile-intro-text {
  border: solid 1px #c2c2c2;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  height: 90%;
  width: 100%;
  line-height: 1.4;
  margin-top: 5px;
  white-space: pre-wrap;
  display: block;
  box-sizing: border-box;
}

.profile-label {
  font-size: 0.875rem;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 5px;
}

.profile-item {
  padding: 0 0 10px 20px;
  margin-bottom: 0;
}

.img-select {
  display: none;
}

.img-select-label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #65B2F7;
  padding: 0 10px;
  border-bottom: 1px solid #65B2F7;
  cursor: pointer;
}

#previewImage {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px gray;
}

.profile {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px gray;
}


/* ______________________________________________________________________________________  スケジュール一覧部分 */
.schedule_table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 20px auto 0;
  max-height: 300px;
  width: 90%;
  text-align: center;
  overflow-y: auto;
}

.schedule_header {
  padding: 5px;
  text-align: center;
}

.schedule_data {
  border-bottom: 1px solid #ddd;
  padding: 15px 5px 5px;
  text-align: center;
}

.recruit-category-helper {
  background: radial-gradient(#FFFF66, #fff);
  border-radius: 10%;
  font-size: 0.875rem;
  line-height: 1.2;
  max-width: 100px;
  padding: 8px;
  margin: 0 auto;
  color: #777;
  font-weight: bold;
}

.recruit-category-opponent {
  background: radial-gradient(#FFDDFF, #fff);
  border-radius: 10%;
  font-size: 0.875rem;
  line-height: 1.2;
  max-width: 100px;
  padding: 8px;
  margin: 0 auto;
  color: #777;
  font-weight: bold;
}


/* ______________________________________________________________________________________  お知らせ部分 */
.section__title {
  margin: 0 auto 20px;
  font-size: 1.4rem;
  width: 90%;
  line-height: 1.0;
  border-bottom: 2px solid #808080;
  color: #808080;
  padding: 0 15px 10px;
}

.notFound {
  font-size: 1.4rem;
  color: #808080;
  text-align: center;
  margin-top: 120px;
}


/* ______________________________________________________________________________________  お知らせ部分 */
.message-wrapper {
  width: 100%;
  height: 700px;
  position: relative;
  background-color: #91B9F0;
  border-radius: 10px;
  padding:10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) inset;
}

.message-header {
  font-size:18px;
  text-align:center;
  background-color:rgba(35, 35, 35, 0.9);
  color:#fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 60px;
  border-radius: 10px 10px 0 0;
}

.message-content {
  margin-top: 50px;
  height: 75%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.message-text {
  display:flex;
  width: 100%;
}

.message-form {
  height: 240px;
  width: 90%;
  margin: 15px auto 0;
  display: block;
  border: none;
}

.msg-btn {
  color: #fff;
  text-align: center;
  padding: 8px 24px;
  width: 100%;
  border-radius: 5px;
  margin: 5px auto 0;
  background-color: #239b76;
  display: block;
}

.message-reply-form {
  padding-top: 10px;
  width: 90%;
  margin: 0 auto;
}

.message-textarea {
  color: #808080;
  border: 1px solid #808080;
  padding: 8px 12px;
  border-radius: 10px;
  line-height: 1.4;
  box-sizing: border-box;
  height: 80%;
  width: 100%;
  margin: 15px auto 0;
}

.msg-icon {
  height:40px;
  width:40px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.msg-time {
  font-size: 0.75rem;
  color:#222;
  margin: auto 5px 0 5px;
}


.talk_left {
  display: flex;
  flex-wrap: wrap;
	margin-top:10px;
  margin-left: 10px;
	margin-bottom:15px;
}
.talk_left p:before {  /* 左ふきだしの左三角を描画 */
	content: '';
	position:absolute;
	top:8px;
	left:-20px;
	border: 12px solid transparent;
	border-right:12px solid white;
}
.talk_left p { /* 左ふきだしの本体 */
	display:inline-block;
	position:relative;
	background-color:white;
	border-radius:10px;
	padding:10px;
	margin:0 0 0 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  max-width: 60%;
}
.talk_right {
  display: flex;
  flex-direction: row-reverse;
	margin-top:10px;
  margin-left: 10px;
	margin-bottom:15px;
}
.talk_right p:after { /* 右ふきだしの右三角を描画 */
	content: '';
	position:absolute;
	top:8px;
	right:-20px;
	border: 12px solid transparent;
	border-left:12px solid #85e249;
}
.talk_right p { /* 右ふきだしの本体 */
	display:inline-block;
	position:relative;
	background-color:#85e249;
	border-radius:10px;
	padding:10px;
	margin:0 10px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  max-width: 60%;
}

.newArrival_badge {
  padding: 3px 6px;
  margin-right: 8px;
  margin-left: 1px;
  font-size: 75%;
  color: white;
  border-radius: 6px;
  box-shadow: 0 0 3px #ddd;
  white-space: nowrap;
  background-color: red;
}