@charset "UTF-8";
/*----- リセット追加 -----*/
a {
  text-decoration: none;
  display: block;
}

a:hover {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

/*----- 共通部分 -----*/
.section-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  padding: 1.5rem;
  background-color: #F8FAFC;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.btn-wrapper {
  margin: 20px 0;
}

.button {
  color: #808080;
  text-align: center;
  border: 1px solid #808080;
  padding: 8px 12px;
  border-radius: 20px;
  line-height: 1.0;
  margin-right: 20px;
}

.button:hover {
  opacity: 1;
}

/*----- ヘッダー部分 -----*/
.header {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.header__logo {
  height: 70px;
  width: 290px;
}

.commonInner {
  width: 1450px;
  margin: 0 auto;
}

.content-wrapper {
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.content-item {
  border-radius: 20px;
  position: relative;
  max-height: 340px;
  max-width: 685px;
}


/* スケジュール部分 */
.schedule-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.text_underline{
  position: relative; /*.text_underline::beforeの親要素*/
  border-top: 1px solid #c2c2c2; /*text3の下線*/
}

/* ______________________________________________________________________________________  対戦相手・助っ人募集部分 */
.recruit-nav {
  line-height: 2.5rem;
  color: #65B2F7;
  padding: 0 40px;
}

.recruit-item {
  line-height: 1.0;
}

.recruit-note {
  margin: 20px auto 0;
  height: 150px;
  width: 90%;
  box-sizing: border-box;
  border: solid 1px #c2c2c2;
  border-radius: 5px;
  padding: 10px;
  display: block;
  background-color: #fff;
}


/* ______________________________________________________________________________________  プロフィール部分 */
.profile-wrapper {
  height: 100%;
  display: grid;
  grid-template: 
    "..... ............. ............. ............... ....." auto
    "..... profile-name  ............. profile-btn     ....." 50px
    "..... profile-name  ............. profile-address ....." 30px
    "..... ............. ............. ............... ....." 30px
    "..... profile-intro profile-intro profile-intro   ....." 200px
    "..... ............. ............. ............... ....." auto/
     0     2fr           30px          1fr             0;
}

.profile-name {
  grid-area: profile-name;
  font-size: 2rem;
  line-height: 1.0;
  color: #808080;
  border-bottom: solid 1px #c2c2c2;
  display: flex;
  align-items: flex-end;
}

.profile-btn {
  grid-area: profile-btn;
  color: #808080;
}

.profile-address {
  grid-area: profile-address;
  font-size: 1rem;
  line-height: 1rem;
  color: #808080;
  border-bottom: solid 1px #c2c2c2;
  display: flex;
  align-items: flex-end;
}

.profile-intro {
  grid-area: profile-intro;
  border: solid 1px #c2c2c2;
  border-radius: 5px;
  background-color: #fff;
}

.profile-item {
  padding-left: 20px;
  margin-bottom: 10px;
}

.textarea{
  box-sizing: border-box;
  color: #808080;
  margin-top: 30px;
  width: 100%;
  border: solid 1px #c2c2c2;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  outline: 0;
  font-size: 16px;
}

.profile-edit {
  position: relative;
  color: #808080;
  text-align: center;
  border: 1px solid #808080;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  max-width: 150px;
  overflow: hidden;
}

.img-select {
  display: none;
}

.fa-camera {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 2.0rem;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 32px;
  height: 32px;
  left: -72px;
  top: 0px;
  outline: none;
}

#previewImage {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px gray;
}

.profile {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px gray;
}


/* ______________________________________________________________________________________  スケジュール一覧部分 */
.schedule_table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 20px auto 0;
  width: 90%;
  text-align: center;
}

.schedule_header {
  padding: 5px;
  text-align: center;
}

.schedule_data {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}




/* ______________________________________________________________________________________  お知らせ部分 */
.section__title {
  margin-bottom: 20px;
  font-size: 1.4rem;
  line-height: 1.0;
  text-align: center;
}

.section__title span {
  display: inline-block;
  padding: 8px 16px;
  position: relative;
}

.section__title span::before, .section__title span::after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 1;
}

.section__title span::before {
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #008DD5 0%, #008DD5 50%, transparent 50%, transparent 100%);
}

.section__title span::after {
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, transparent 0%, transparent 50%, #008DD5 50%, #008DD5 100%);
}




/* ______________________________________________________________________________________  お知らせ部分 */
.message-wrapper {
  width: 100%;
  height: 700px;
  position: relative;
  background-color: #F8FAFC;
  border-radius: 10px;
  padding:10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) inset;
}

.message-content {
  width: 100%;
}

.message-text {
  display:flex;
  width: 100%;
}

.message-form {
  width: 90%;
  margin: 15px auto 0;
}

.message-reply-form {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

.message-textarea {
  color: #808080;
  border: 1px solid #808080;
  padding: 8px 12px;
  border-radius: 10px;
  height: 1.0;
  margin-right: 20px;
  width: 100%;
  box-sizing: border-box;
}

.msg-icon {
  height:60px;
  width:60px;
  border-radius: 30px;
}


.talk_left p:before {  /* 左ふきだしの左三角を描画 */
	content: '';
	position:absolute;
	top:8px;
	left:-20px;
	border: 12px solid transparent;
	border-right:12px solid white;
}
.talk_left p { /* 左ふきだしの本体 */
	display:inline-block;
	position:relative;
	background-color:white;
	border-radius:10px;
	padding:10px;
	margin:0 0 0 10px;
}
.talk_right {
  display: flex;
  flex-direction: row-reverse;
	margin-top:1em;
}
.talk_right p:after { /* 右ふきだしの右三角を描画 */
	content: '';
	position:absolute;
	top:8px;
	right:-20px;
	border: 12px solid transparent;
	border-left:12px solid #85e249;
}
.talk_right p { /* 右ふきだしの本体 */
	display:inline-block;
	position:relative;
	background-color:#85e249;
	border-radius:10px;
	padding:10px;
	margin:0 10px 0 0;
}