.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.commonInner {
  width: 1450px;
  margin: 0 auto;
}
  
.btn-wrapper {
  margin-top: 10px;
}

.section-wrapper {
  min-height: 100vh;
  padding: 50px;
  background-color: #F8FAFC;
}

/* ヘッダー部分 */
.header {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(35, 35, 35, 0.9);
  z-index: 1;
}

.header-logo {
  height: 70px;
  width: 290px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.header-nav__item {
  text-decoration: none;
  color: #999;
  display: inline-block;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-left: 30px;
}

.header-nav__item:hover{
  transition: color 0.1s linear;
  color: #fff;
  text-decoration:none;
}

.header_btn {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  padding: 8px 12px;
  border-radius: 20px;
  height: 1.0;
  cursor: pointer;
  margin: auto 10px;
}

.login-status {
  color: #FFFFAA;
  text-align: center;
  margin-top: 15px;
  margin-right: 20px;
}


/* 入力フォーム  */
.form-wrapper {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #DDD;
}

.form-header {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #DDD;
  font-size: 1.25rem;
  padding: 10px;
  background-color: #F7F7F7;
  text-align: center;
  font-weight: bold;
}

.form-content {
  border-radius: 0 0 5px 5px;
  padding: 20px;
}

.form-item {
  margin: 0 auto 20px;
}

.form-label {
  min-width: 120px;
  text-align: end;
  font-weight: bold;
}

.form-input {
  margin-left: 20px;
  width: 300px;
  border-radius: 5px;
  background-color: #E7F1FE;
  border: 1px solid #DDD;
  padding: 5px;
}

.form-input-date {
  width: 45%;
  border-radius: 5px;
  background-color: #E7F1FE;
  border: 1px solid #DDD;
  padding: 5px;
}

.recruit-note {
  margin: 5px 0 10px auto;
  height: 150px;
  line-height: 1.4;
  width: 90%;
  box-sizing: border-box;
  border: solid 1px #c2c2c2;
  border-radius: 5px;
  padding: 10px;
  display: block;
  background-color: #fff;
  white-space: pre-wrap;
}
  
.form-btn-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.form-btn {
  color: #fff;
  text-align: center;
  padding: 4px 12px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #239b76;
  line-height: 1.0;
  font-size: 1.0rem;
}

.caution {
  color: red;
  margin: 0 auto 20px;
  text-align: right;
}