@charset "UTF-8";
/*----- リセット追加 -----*/
a {
  text-decoration: none;
  display: block;
}

/*----- 共通部分 -----*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.section-wrapper {
  padding: 50px;
  background-color: #F8FAFC;
}

.commonInner {
  width: 1180px;
  margin: 0 auto;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn {
  padding: 12px 24px;
  margin-left: 10px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #239b76;
}

/*----- ヘッダー部分 -----*/
.header {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
}

.header__logo {
  height: 70px;
  width: 290px;
}

/*----- 原作一覧 -----*/
.tab-wrapper {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 10px;
}

.tab-nav {
  width: 100%;
}

.tab-nav__item {
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  line-height: 60px;
  color: #65B2F7;
  display: inline-block;
  text-align: center;
}

.tab-content {
  width: 100%;
  display: block;
}

.tab-content__item {
  height: 100%;
  width: 100%;
}

.tab-content2 {
  width: 100%;
  display: block;
  padding: 40px 40px;
}

.search_container {
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
  margin-right: 50px;
}

.search_container input[type="number"],
.search_container input[type="date"] {
  display: block;
  border: none;
  height: 2.0em;
}

.search_container input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline: none;
}

.team {
  height: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.team-img-wrapper {
  height: 50%;
  width: 100%;
  padding: 0 20px;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.team-content-wrapper {
  height: 50%;
  width: 100%;
  padding: 0 20px;
  color: #3879D9;
}

.team__img {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.team__ttl {
  width: 100%;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #3879D9;
}

.team__genre {
  width: 100%;
  line-height: 2;
  font-size: 1rem;
  color: #3879D9;
}

/* アコーディオンメニュー */
.menu {
  background-color: purple;
  color: white;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.menu:hover,
.menu:active,
.menu.is-active {
  background-color: black;
}
.contents {
  text-align: center;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.4s;
}
 
.contents.is-open {
  border: 1px solid black;
  padding: 10px;
  line-height: normal;
  height: auto;
  opacity: 1;
}