@charset "UTF-8";
/*----- 共通部分 -----*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.section-wrapper {
  min-height: 100vh;
  padding: 50px;
  background-color: #F8FAFC;
}

.commonInner {
  width: 1450px;
  margin: 0 auto;
}

.btn-wrapper {
  margin-top: 10px;
}

.btn {
  color: #808080;
  text-align: center;
  border: 1px solid #808080;
  padding: 8px 12px;
  border-radius: 20px;
  height: 1.0;
  cursor: pointer;
  margin: auto 10px;
}

/*----- ヘッダー部分 -----*/
.header {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(35, 35, 35, 0.9);
  z-index: 1;
}

.header-logo {
  height: 70px;
  width: 290px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.header-nav__item {
  text-decoration: none;
  color: #999;
  display: inline-block;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-left: 30px;
}

.header-nav__item:hover{
  transition: color 0.1s linear;
  color: #fff;
  text-decoration:none;
}

.header_btn {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  padding: 8px 12px;
  border-radius: 20px;
  height: 1.0;
  cursor: pointer;
  margin: auto 10px;
}

.login-status {
  color: #FFFFAA;
  text-align: center;
  margin-top: 15px;
  margin-right: 20px;
}

/*----- 募集一覧表示部分 -----*/

.content-wrapper {
  margin-top: 80px;
  width: 1180px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 10px;
}

.tab-nav {
  width: 100%;
  margin-bottom: 0;
}

.list-nav {
  width:70%;
}

.tab-nav__item {
  display: inline-block;
  cursor: pointer;
  line-height: 3.5rem;
  padding: 0 80px;
  color: #65B2F7;
  text-align: center;
  width:50%;
}

.tab-nav__item.active {
  position: relative;
  display: block;
  color: #fff;
  font-size: 16px;
  background-color: #136FFF;
  box-sizing: border-box;
}

.tab-nav__item.active {
  border-radius: 10px 10px 0 0;
}

.tab-nav__item.active:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top: 10px solid #136FFF;
}

.tab-content {
  width: 100%;
  padding: 20px 100px 40px;
}

.tab-content__item {
  width: 100%;
  display: none;
}

.tab-content__item.active {
  display: block;
}

/* 募集 */
.recruit-wrapper {
  height: 300px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.recruit-img_wrapper {
  height: 55%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.recruit-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  border-radius: 10px 10px 0 0;
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.recruit-calender {
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
}

.recruit-calender_year {
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  width: 100%;
  height: 10%;
  font-size: 0.8rem;
  color: #fff;
  font-weight: bold;
  background-color: red;
}

.recruit-calender_date {
  padding: 8px 10px 0;
  height: 80%;
  width: 100%;
  font-size: 1.5rem;
  color: #444;
}

.recruit-calender_day {
  height: 10%;
  width: 100%;
  font-size: 0.8rem;
  color: #444;
  font-weight: bold;
  padding: 5px 10px;
}

.recruit-content_wrapper {
  height: 45%;
  width: 100%;
}

.recruit-table {
  border-collapse: collapse;
  height: 70%;
  width: 100%;
  text-align: center;
  color: #444;
}

.recruit-table_header {
  position: relative;
  width: 30%;
  text-align: center;
  font-weight: normal;
  padding-top: 5px;
  text-decoration: underline;
  text-decoration-color: #bce2e8;
  text-decoration-thickness: 3px;
  text-underline-offset: -3px;
}

.recruit-table_data {
  text-align: left;
  padding-top: 5px;
  width: 70%;
}

.recruit-detail {
  padding: 0 30px;
  height: 30%;
}

/* 条件検索メニュー部分（トグルメニュー） */
.contents {
  position: absolute;
  z-index: 1;
  text-align: center;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.4s;
  margin-top: 20px;
  background-color: #F8FAFC;
}
 
.contents.is-open {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  line-height: normal;
  height: auto;
  opacity: 1;
}

.search_container {
  background-color: #fff;
  border: 1px solid #999;
  display: block;
  padding: 5px 10px;
  border-radius: 20px;
  width: 220px;
  margin-top: 10px;
}

.search_container input[type="text"],
.search_container input[type="date"],
.search_container input[type="submit"] {
  background-color: #fff;
  display: block;
  border: none;
  line-height: 2.0;
}
.btn-grn {
  background-color: #239b76;
  color: #fff;
}