@charset "UTF-8";
/*----- リセット追加 -----*/
a {
  text-decoration: none;
  display: block;
}

/*----- 共通部分 -----*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.section-wrapper {
  min-height: 100vh;
  padding: 50px;
  background-color: #F8FAFC;
}

.commonInner {
  width: 1180px;
  margin: 0 auto;
}

.btn-wrapper {
  margin: 20px 0;
}

.button {
  padding: 12px 24px;
  margin-left: 10px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #239b76;
}

/*----- ヘッダー部分 -----*/
.header {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
}

.header__logo {
  height: 70px;
  width: 290px;
}

/*----- 原作一覧 -----*/
.content-wrapper {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 10px;
}

.content-header {
  height: 90px;
  width: 100%;
}

.content-ttl {
  display: inline-block;
  line-height: 40px;
  width: 25%;
  font-size: 1.6rem;
  color: #3879D9;
  text-align: center;
}

.content-search {
  display: inline-block;
  width: 25%;
  font-size: 1rem;
  color: black;
  display: inline-block;
  text-align: center;
}

.content-item {
  width: 100%;
  display: block;
  padding: 40px 100px;
}

.search_container {
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 1rem;
  width: 220px;
  overflow: hidden;
  margin-top: 10px;
}

.search_container input[type="number"],
.search_container input[type="date"] {
  display: block;
  border: none;
  height: 2.0em;
}

.search_container input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline: none;
}

.team {
  height: 350px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.team-img-wrapper {
  height: 50%;
  width: 100%;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.team__img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.team-content-wrapper {
  height: 50%;
  width: 100%;
  color: #3879D9;
  display: grid;
  grid-template: 
    "..... ............  ............  ............ ....." 10px
    "..... team__ttl     team__ttl     team__ttl    ....." 1fr
    "..... team__address team__address ............ ....." 1fr
    "..... team__date    team__date    team__member ....." 1fr
    "..... ............  ............  ............ ....." 10px/
     20px  1fr           1fr           1fr          20px;
}

.team__ttl {
  grid-area: team__ttl;
  width: 100%;
  line-height: 1rem;
  font-size: 2rem;
  color: #3879D9;
}

.team__address {
  grid-area: team__address;
  width: 100%;
  line-height: 2rem;
  font-size: 1rem;
  color: #3879D9;
  vertical-align: middle;
}

.team__date {
  grid-area: team__date;
  width: 100%;
  line-height: 1rem;
  font-size: 1rem;
  line-height: 2rem;
  color: #3879D9;
}

.team__member {
  grid-area: team__member;
  width: 100%;
  font-size: 2rem;
  line-height: 1rem;
  color: #3879D9;
}

/* アコーディオンメニュー */
.menu {
  color: #808080;
  font-size: 16px;
  padding: 10px 10px;
  text-align: center;
  border: 1px solid #808080;
  cursor: pointer;
  user-select: none;
  display: block;
  border-radius: 20px;
  max-width: 150px;
  overflow: hidden;
}

.menu:hover,
.menu:active,
.menu.is-active {
  background-color: #fff;
}
.contents {
  position: absolute;
  z-index: 1;
  text-align: center;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.4s;
  margin-top: 10px;
  background-color: #F8FAFC;
}
 
.contents.is-open {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  line-height: normal;
  height: auto;
  opacity: 1;
}