@charset "UTF-8";
/*----- リセット追加 -----*/
a {
  text-decoration: none;
  display: block;
}

/*----- 共通部分 -----*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.section-wrapper {
  min-height: 100vh;
  padding: 50px;
  background-color: #F8FAFC;
}

.commonInner {
  width: 1180px;
  margin: 0 auto;
}

.btn-wrapper {
  margin: 20px 0;
}

.button {
  color: #808080;
  text-align: center;
  border: 1px solid #808080;
  padding: 8px 12px;
  border-radius: 20px;
  height: 1.0;
  margin-right: 20px;
  cursor: pointer;
}

.big-btn {
  width: 90%;
  color: #fff;
  text-align: center;
  padding: 16px 0;
  border-radius: 5px;
  margin: 0 auto 40px;
  cursor: pointer;
  background-color: #239b76;
}

/*----- ヘッダー部分 -----*/
.header {
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
}

.header__logo {
  height: 70px;
  width: 290px;
}

/*----- 原作一覧 -----*/
.content-wrapper {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 10px;
}

.list-nav {
  line-height: 3.5rem;
  padding: 0 80px;
  color: #65B2F7;
}

.content-item {
  width: 100%;
  display: block;
  padding: 40px 100px;
}

.team {
  height: 300px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.team-img-wrapper {
  height: 65%;
  width: 100%;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.team__img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  border-radius: 10px;
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.team__date {
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: blue;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
}

.team-content-wrapper {
  height: 35%;
  width: 100%;
  color: #3879D9;
  display: grid;
  grid-template: 
    "..... ............  ............  ............... ....." 5px
    "..... game_time     game_time     recruit__detail ....." 1.0fr
    "..... game_place    game_place    game_place      ....." 1.0fr
    "..... team_data     team_data     team_data       ....." 1.0fr
    "..... ............  ............  ............... ....." 5px/
     10px  1.5fr         1.5fr         1fr             10px;
}

.recruit_item {
  width: 100%;
  line-height: 2;
  font-size: 1rem;
  color: #3879D9;
}

.game_time {
  grid-area: game_time;
}

.game_place {
  grid-area: game_place;
}

.team_data {
  grid-area: team_data;
}

.recruit__detail {
  grid-area: recruit__detail;
  color: #808080;
  text-align: center;
  border: 1px solid #808080;
  padding: 8px 12px;
  border-radius: 20px;
  height: 1.0;
}

/* アコーディオンメニュー */
.contents {
  position: absolute;
  z-index: 1;
  text-align: center;
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.4s;
  margin-top: 20px;
  background-color: #F8FAFC;
}
 
.contents.is-open {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  line-height: normal;
  height: auto;
  opacity: 1;
}

.search_container {
  background-color: #fff;
  border: 1px solid #999;
  display: block;
  padding: 5px 10px;
  border-radius: 20px;
  width: 220px;
  margin-top: 10px;
}

.search_container input[type="text"],
.search_container input[type="date"],
.search_container input[type="submit"] {
  background-color: #fff;
  display: block;
  border: none;
  line-height: 2.0;
}