/* タブUI */
.tab-nav {
  width: 100%;
  margin-bottom: 0;
}

.tab-nav__item {
  display: inline-block;
  align-items: center;
  cursor: pointer;
}

.tab-nav__item.active {
  border-bottom: #24B7CE 3px solid;
}

.tab-content {
  width: 100%;
}

.tab-content__item {
  width: 100%;
  display: none;
}

.tab-content__item.active {
  display: block;
}