*, *:before, *:after {
    box-sizing: border-box;
    overflow: hidden;
}
  
a {
    text-decoration: none;
}

/*----- ヘッダー部分 -----*/
.header {
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.header__logo {
  margin-top: 10px;
  height: 80px;
  width: 300px;
}
  
.btn-wrapper {
  margin-top: 20px;
}


.button {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  padding: 12px 24px;
  border-radius: 30px;
  line-height: 1.0;
  margin-right: 40px;
  font-size: 1.0rem;
}
  
.commonInner {
  width: 1450px;
  margin: 0 auto;
}
/*----- ヘッダー部分 -----*/
  
  
.container {
  width: 1170px;
  padding-top: 170px;
  margin: 0 auto;
}
  
.top-wrapper {
  height: 100vh;
  width: 100%;
  padding: 180px 0 100px 0;
  background-image: url(/images/top-bg.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
  z-index: 0;
}
.top-wrapper::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: brightness(0.5);
  z-index: -1;
}

.top-wrapper h2 {
  font-size: 45px;
  font-weight: lighter;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #333;
}

.top-wrapper p {
  opacity: 0.7;
  margin-top: 40px;
  font-weight: bold;
}

.guest1 {
  background-color: #239b76;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.guest2 {
  background-color: #55acee;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.facebook {
  margin: 30px auto 0;
  padding-bottom: 5px;
  width: 200px;
  color: #fff;
  border-bottom: 1px solid #fff;
  opacity: 0.7;
}

.facebook:hover {
  margin: 30px auto 0;
  padding-bottom: 5px;
  width: 200px;
  color: #fff;
  border-bottom: 1px solid #fff;
  opacity: 1.0;
}